---
layout: default
---

{% assign sorted = site.projects | sort:"order" %}

<div id="images" class="clearfix">
  {% for post in sorted %}
  <div class="grid">
    <img src="{{ post.hero-image }}" id="{{ post.slug }}-image-0" class="hero-thumb"/>
    {% for image in post.images %}
      {% if forloop.index < 5 %}
        <img src="{{ image }}"  id="{{ post.slug }}-image-{{ forloop.index }}" class="secondary-thumb" />
        {% else %}
          {% break %}
      {% endif %}
    {% endfor %}
    <a href="{{ post.url }}" class="title">{{ post.title }}</a>
  </div>
  {% endfor %}
</div>


{% comment %}

// This code pulls in a single latest post from the 'homepage' category

{% assign sorted = site.homepage | sort:"date" | reverse %}

  {% for post in sorted %}
        {% if post.link %}
          <a href="{{post.link}}">
            <img src="{{ post.image }}" />
          </a>
        {% else %}
          <img src="{{ post.image }}" />
        {% endif %}
        {% break %}
  {% endfor %}
{% endcomment %}
