---
layout: default
---

{% assign projects = site.projects | sort: 'order' %}


<div id="images" class="clearfix">
  {% for post in projects limit:4 %}
  <div class="grid">
    <img src="{{ post.hero-image }}" id="{{ post.slug }}-image-0" class="hero-thumb"/>
    {% for image in post.images %}
        <img src="{{ image }}"  id="{{ post.slug }}-image-{{ forloop.index }}" class="secondary-thumb" />
    {% endfor %}
    <a href="{{ post.url }}" class="title"><span>{{ post.title }}</span></a>
  </div>
  {% endfor %}
</div>


{% comment %}

// This code pulls in a single latest post from the 'homepage' category

{% assign sorted = site.homepage | sort:"date" | reverse %}

  {% for post in sorted %}
        {% if post.link %}
          <a href="{{post.link}}">
            <img src="{{ post.image }}" />
          </a>
        {% else %}
          <img src="{{ post.image }}" />
        {% endif %}
        {% break %}
  {% endfor %}
{% endcomment %}
