  <div id="footer">
      <div class="blip"></div>
      <ul class="section primary">
        {% assign sorted = site.projects | sort:"order" %}

        <li><strong>PROJECTS</strong></li>
      {% for post in sorted %}
        <li>
          <a href="{{ post.url }}"{% if post.order == page.order %}class="selected"{% endif %}>{{ post.title }}</a>
        </li>
      {% endfor %}
      </ul>

      <ul class="section secondary">
        <li><a href="/info/">Info</a></li>
        <li><a href="http://blog.sagebrown.com">Blog</a></li>
      </ul>

      <div class="section social">
        <a href="http://instagram.com/sagebrown" class="instagram">Instagram</a>
        <a href="http://twitter.com/sage_brown" class="twitter">Twitter</a>
      </div>
</div> <!-- footer -->

<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/sage.js"></script>
