  <div id="footer">
      <div class="blip"></div>
      <ul class="section primary">
        {% for post in projects-sorted %}
          {% if post.tags contains 'personal' %}
            <li>
              <a href="{{ post.url }}"{% if post.title == page.title %}class="selected"{% endif %}>{{ post.title }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% comment %}
        <li>&nbsp;</li>
        <li><strong>COMISSIONED</strong></li>
        {% for post in commissioned-sorted %}
          {% if post.tags contains 'commissioned' %}
            <li>
              <a href="{{ post.url }}"{% if post.title == page.title %}class="selected"{% endif %}>{{ post.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% endcomment %}

      </ul>

      <ul class="section secondary">
        <li><a href="/info/">Info</a></li>
        <li><a href="http://blog.sagebrown.com">Blog</a></li>
      </ul>

      <div class="section social">
        <a href="http://instagram.com/sagebrown" class="instagram">Instagram</a>
        <a href="http://twitter.com/sage_brown" class="twitter">Twitter</a>
      </div>
</div> <!-- footer -->

<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/sage.js"></script>
<script type="text/javascript" src="/js/imgix.js"></script>
