  <div id="footer">
  <ul class="section primary">
  	<li><a href="fieldwork.html" class="">Fieldwork</a></li>
  	<li><a href="intersections.html">Intersections</a></li>
  	<li><a href="comesidice.html">Come si Dice</a></li>
  </ul>

  <ul class="section secondary">
  	<li>Info</li>
  	<li>Shop</li>
  	<li>Blog</li>
  </ul>

  <div class="section social">
  	<a href="http://instagram.com/sagebrown" class="instagram">Instagram</a>
  	<a href="http://twitter.com/sage_brown" class="twitter">Twitter</a>
  </div>
</div> <!-- footer -->

<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>

<script type="text/javascript" charset="utf-8">


			var numImages = $(".row").children().length+1;
			var imgMargin = 50;
			var scrollPos = $("#container").scrollLeft();

			$(document).ready(setWidth());
			$(window).on('load', function() {
				setWidth();
				//jQuery.easing.def = "easeOutQuad";
			});

			$(window).on('resize', function() {
				setWidth();
			});

			function setWidth() {
				var totalWidth = 0;
				$(".row").children().each(function() {
					totalWidth += $(this).width();
				});

			  	$(".row").width(totalWidth + (numImages*imgMargin));
			  	//console.log($(".row").width());
			  	rowX = $(".row").position().left;

			  	//set title size
			  	$("#title").width($(".row img").height()*.8);

		  	}




			$("#getPos").click(function() {
				navWidth = $("#nav").outerWidth();
				console.log(navWidth);

			});

			$(".row>img").click(function(){
				$("#container").animate({
					scrollLeft: $(this).position().left
				}, 500, function(){
					//done
			});
				});


			/*$("#title").click(function(){
				$("#container").animate({
					scrollLeft: $("#title").width()+ 50
				}, 500, function(){
					console.log("done");
			});
			}); */


				//console.log()

				/*$(".row").animate({
					left: "-=" + distance
				}, 600, function () {
					//done animating
				});*/


			/*$('body').on('mousewheel', function(event) {
				if(event.deltaY > 0) {
					scrollPos += 20;
					//down
				} else {
					scrollPos -= 20;
					//up
				}

			    $("#container").scrollLeft(scrollPos);

			    event.preventDefault();
			});

			//$('#container').mousewheel(function(event) {
			  //  $("#container").scrollLeft(event.deltaFactor);
			//});

*/


		</script>
