<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="google-site-verification" content="ZRj3FrzUgxV1tYayXxn7lLRMT9uIJqj6OjI8cL8MJ-A" />
  {% if page.hero-image %}
  <meta property="og:image" content="http://sagebrown.com{{ page.hero-image }}" />
  {% else %}
  <meta property="og:image" content="http://sagebrown.com/uploads/sb-og-1.jpg" />
  <meta property="og:image" content="http://sagebrown.com/uploads/sb-og-2.jpg" />
  <meta property="og:image" content="http://sagebrown.com/uploads/sb-og-3.jpg" />
  <meta property="og:image" content="http://sagebrown.com/uploads/sb-og-4.jpg" />
  {% endif %}
  <title>{% if page.title %}{{ site.title | escape }} — {{ page.title | escape }}{% else %}{{ site.title | escape }} — {{ site.title-2 | escape }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/png" href="/images/favicon.png" sizes="96x96">

  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1509608579099352'); // Insert your pixel ID here.
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1509608579099352&ev=PageView&noscript=1"
  /></noscript>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4479681-1', 'auto');
  ga('send', 'pageview');
  </script>


</head>
