<div id="header">
  <h1><a href="/">Sage Brown</a></h1>
</div>
<div id="nav">
  <div class="v-center">
    <h1><a href="/">Sage Brown</a></h1>
    <ul class="section primary">
      {% assign sorted = site.posts | sort:"order" %}

      <li><strong>PROJECTS</strong></li>
    {% for post in sorted %}
      <li>
        <a href="{{ post.url }}"{% if post.order == page.order %}class="selected"{% endif %}>{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>

    <ul class="section secondary">
      <li><a href="/info/">Info</a></li>
      <li><a href="http://blog.sagebrown.com">Blog</a></li>
    </ul>

    <div class="section social">
      <a href="http://instagram.com/sagebrown" class="instagram">Instagram</a>
      <a href="http://twitter.com/sage_brown" class="twitter">Twitter</a>
    </div>
  </div>
</div> <!-- nav -->
