@font-face {
    font-family: 'CallunaSansRegular';
    src: url('CallunaSansRegular-webfont.woff2') format('woff2'),
         url('CallunaSansRegular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'CallunaSansRegular', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    overflow: hidden;
}

#container {
	overflow: scroll;
	height: 100%;
  position: relative;
}

#header, #footer {
	display: none;
}

#nav {
    height: 100%;
    z-index: 20;
    max-width: 250px;
    width: 15%;
    padding: 0 50px 0 90px;
    float: left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.section {
	margin-bottom: $spacing-unit !important;
}

.social {
	margin-left: -5px;
	height: 24px;
}

.instagram, .twitter {
	height: 24px;
	width: 24px;
	float: left;
	overflow: hidden;
	line-height: 200px;
	margin-right: 6px;
	opacity: .4;
}

.instagram:hover, .twitter:hover {
	opacity: 1;
}

.instagram {
	background: url(/images/social-instagram.png) no-repeat;
}

.twitter {
	background: url(/images/social-twitter.png) no-repeat;
}

#footer .social {
	display: inline-block;
	margin: 0 auto;
}


/* INFO */

.info {
    width: 50%;
}

.info h2 {

}

.info p {
  margin-bottom: 14px;
  margin-top: 0;
}

/* Gallery */

.row {
  width: 50000px;
	height: 85%;
}

.row img, .homepage>img {
	max-height: 100%;
	max-width: 100%;
	float: left;
	margin-right: 50px;
}

.next-up {
	float: left;
	height: 100%;
	max-height: 100%;
}

.next-link, .next-img {
	width: 50%;
	float: left;

}

.next-link p {
	margin: 0 50px;
	text-align: right;
}

.next-img img {
	max-height: 500px;
}

small {
  color: #B3B3B3 !important;
}

.v-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.row #title {
	/* background: #FDFDFD; */
	/* color: #999; */
	/* border: 1px solid #ccc; */
	float: left;
	max-width: 800px;
	/* min-width: 530px; */
	width: 100%;
	height: 100%;
	margin: 0 50px 0 0;
	/* cursor: pointer; */
}
#title p {
	/* border: 1px solid red; */
	/* padding: 96px 0 0 0; */
	float: left;
	margin: 0px 35% 0 10%;
	font-size: 14px;
	/* top: 30%; */
}

#pagination {
  display: none;
  position: fixed;
  width: 80%;
  height: 100%;
  line-height: 120000px !important;
  overflow: hidden;
  z-index: 20;
}

#next {
  position: absolute;
  width: 50%;
  right: 0;
  cursor: e-resize;
}

#previous {
  position: absolute;
  width: 50%;
  left: 0;
  cursor: default;
}

/* HOMEPAGE */

.homepage {
  width: 80%;
  height: 85%;
  margin: 0 15% 0 5%;
}

.grid {
  width: 40%;
  height: 45%;
  float: left;
  text-align: center;
  /*background: #ccc;*/
  margin: 25px;
  position: relative;
  overflow: hidden;
}

.grid>img {
  max-height: 85%;
  max-width: 55%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);


}

.title {
  position: absolute;
      /* border: 1px solid red; */
      background: rgba(255, 255, 255, 0.75);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity .25s ease-out;
      -moz-transition: opacity .25s ease-out;
      -webkit-transition: opacity .25s ease-out;
      -o-transition: opacity .25s ease-out;
}

.title:hover {
  opacity: 1;
}



#images {
  height: 100%;
  width: 100%;
  /* border: 1px solid; */
  margin: 0 auto;
}
/* type */

h1 {
    font-size: 28px;
    margin-bottom: $spacing-unit;
}

.primary {
    font-size: $base-font-size;
}

.secondary {
    font-size: $secondary-font-size;
    color: $secondary-color;
}

a {
	text-decoration: none;
	color: $text-color;
}

a:hover, .selected {
	text-decoration: underline;
}

h1 a:hover {
	text-decoration: none;
}

strong {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* media queries */


@media only screen and (max-width: 1900px) {
  #header, #footer {
  	display: none !important;
  }
}

@media only screen and (max-width: 1440px) {
	#nav {
		padding: 0 40px 0 70px;
	}
    .row {height: 75%;}

    #header, #footer {
		display: none !important;
	}
}

/* MOBILE */

@media only screen and (max-width: 800px) {
body, html {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
	#container {
		text-align: center;
		max-width: 100%;
		height: auto;
		/* border: 1px solid red; */
		/* height: 80%; */
		overflow: visible;
	}

	#header, #footer {
		display: block !important;
		text-align: center;
		margin: 0 !important;
	}

	.row {
		width: 90% !important;
		margin: 0px auto;
		text-align: center;
		padding: 0;
		/* height: 100%; */
	}

	.row img {
		margin: 0 auto 30px auto;
		float: none;

	}

  #title {
    width: 100%;
    margin: 0 !important;
    text-align: center;
  }

  #title p {
    margin: 24px 50px;
  }

	#nav {
    	display: none;
    }

    .next-link {
      margin: 24px 0;
    }
    .next-up {
      display: none;
    	width: 100%;
    	text-align: center;
    }

    .next-link, .next-img {
    	width: 100%;
    	float: none;
    	display: block;
    	width: 100%;
    	position: static;
    	top: initial;
    	transform: none;
    }

    .next-link p {
    	margin: 0;
    	text-align: center;
    }

    .next-img {

    }

    .v-center {
		position: static;
		top: 0;
		transform: none;
	}

	#title {width: 100% !important;}

	#title p {

	}
  .homepage {
    width: 90%;
  }

  .grid {
    width: 100%;
    text-align: center;
    margin: 0 auto 24px;
    overflow: hidden;
  }

  .grid>img {
  max-width: 100%;
  top: 0;
  transform: none;
  }

  .info {
    width: 100%;
    margin-bottom: 36px;
  }

}

@media only screen and (max-width: 680px) {

}

@media only screen and (max-width: 480px) {

}



/**
 * Wrapper

.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


*/
/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
