---

---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="container" class="clearfix">
					<div class="row v-center">

            {% assign contentStripped = content | strip_newlines %}

            {% if contentStripped != ""  %}
            <div id="title">
                <div class="v-center">{{ contentStripped }} </div>
            </div> <!-- title -->
            {% endif %}

            {% for image in page.images %}
              <img src="{{ image }}" />
            {% endfor %}


					</div> <!-- row -->
				</div>	<!-- container -->
			</div>

    {% include footer.html %}

  </body>

</html>
