---
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="container" class="clearfix">
					<div class="row v-center">

            {% assign contentStripped = content | strip_newlines %}

            {% if contentStripped != ""  %}
            <div id="title">
                <div class="v-center">{{ contentStripped }} </div>
            </div> <!-- title -->
            {% endif %}

            {% for image in page.images %}
              <img src="{{ image }}" />
            {% endfor %}


        {% if page.next.url %}
          <div class="next-up">
            <div class="next-link v-center">
              <p>Next Up</p>
                <p><a href="{{page.next.url}}">{{page.next.title}}</a></p>
            </div>
            <div class="next-img v-center">
              <a href="{{page.next.url}}"><img src="{{page.next.hero-image}}" /></a>
            </div>
          </div>	<!-- next up -->
          {% endif %}

          {% if page.previous.url %}
            <div class="next-up">
              <div class="next-link v-center">
                <p>Next Up</p>
                  <p><a href="{{page.previous.url}}">{{page.previous.title}}</a></p>
              </div>
              <div class="next-img v-center">
                <a href="{{page.previous.url}}"><img src="{{page.previous.hero-image}}" /></a>
              </div>
            </div>	<!-- next up -->
            {% endif %}
					</div> <!-- row -->
				</div>	<!-- container -->
			</div>

    {% include footer.html %}

  </body>

</html>
