---
permalink: "/mypageurl/"
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="container" class="clearfix">
					<div class="row v-center">
						{% if content %}
              <div id="title">
                <p class="v-center">{{ post.content }}</p>
              </div> <!-- title -->
            {% endif %}

            {% for image in page.images %}
              <img src="{{ image }}" />
            {% endfor %}
					</div> <!-- row -->
				</div>	<!-- container -->
			</div>

    {% include footer.html %}

  </body>

</html>
